@import '../../../styles.scss';

ul {
    list-style: none;
    list-style: none;
    width: 245px;
    margin: 0 20px;
    padding: 0;

    li {
        a {
            margin: 20px 20px 0 0;
            border-radius: 50px;
            transition: all 0.2s ease-in-out;
            width: 80%;
            font-weight: normal;

            &:hover {
                background: $crowe-sidenav-link-hover-blue !important;
                text-decoration: none;
                font-weight: bold;
                color: $crowe-project-primary-blue !important;

                .mat-icon {
                    color: #627D98;
                }
            }

            &:active {
                background: $crowe-sidenav-link-hover-blue !important;
                text-decoration: none;
                font-weight: bold;
                color: $crowe-project-primary-blue !important;

                .mat-icon {
                    color: #627D98;
                }
            }
        }
    }
}

.mat-list-base {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 245px;
}

