<mat-nav-list>
    <ul>
        <li>
            <a mat-list-item>
                <mat-icon>home</mat-icon>Home
            </a>
        </li>
        <li>
            <a mat-list-item>
                <mat-icon fontSet="material-icons-outlined">receipt</mat-icon>Orders
            </a>
        </li>
        <li>
            <a mat-list-item>
                <mat-icon fontSet="material-icons-outlined">account_balance_wallet</mat-icon>Financial
            </a>
        </li>
        <li>
            <a mat-list-item>
                <mat-icon fontSet="material-icons-outlined">summarize</mat-icon>Reports
            </a>
        </li>
    </ul>
</mat-nav-list>