<div class="container flex row">
    <div class="card gradient-bkg">
        <div class="items-container flex row">
            <div class="item">
                <div class="item-title">
                    PROJECTS
                </div>
                <h1 class="item-info">
                    42
                </h1>
            </div>
            <div class="item">
                <div class="item-title">
                    REVENUE
                </div>
                <h1 class="item-info">
                    $1,000,000
                </h1>
            </div>
            <div class="item">
                <div class="item-title">
                    PERCENT VARIANCE
                </div>
                <h1 class="item-info">
                    37%
                </h1>
            </div>
        </div>
    </div>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6269.104237392035!2d-156.4717551917503!3d20.886890834394375!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1620839251485!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>