@import '../styles.scss';

.main {

    width: calc(100vw - 17%);
    margin: 0 auto;

}

.mat-drawer-container {
    background: transparent;
}

.mat-drawer {
    width: 245px;
    height: 92%;
    background: transparent;
    border: none !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    z-index: -10 !important;
}

::ng-deep .mat-drawer-inner-container {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}