
<div class="root">
    <app-navbar></app-navbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation" mode="side" [opened]="isOpen">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main">
                <app-top-cards></app-top-cards>
                <app-table></app-table>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-side-nav-toggle (toggleNav)="navToggle($event)"></app-side-nav-toggle>
</div>


