@import '../../../styles.scss';

.card {
    height: 235px;
    width: 375px;
    background: $crowe-project-white;
    margin: 0 0 20px 0;    
    padding: 20px;

    .h4-title {
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .checkbox-container {
        align-items: flex-start;
        margin-top: 10px;

        .checkbox {
            margin: 2px 0;
        }
    }

    .button-container {
        align-items: flex-end;

        .apply-btn {
            background: $crowe-link-green;
            color: $crowe-project-white;
            border-radius: 30px;
            height: 40px;
            width: 75px;

            &:hover {
                background: $crowe-link-green-hover;
            }
        }
    }

    .card-header {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .order-body {
        justify-content: space-between;
        height: 45px;
        padding: 10px 10px 10px 10px;
        align-items: baseline;
        transition: all 0.2s ease-in-out;

        &:nth-child(odd) {
            background: $crowe-project-background-blue;
        }

        &:hover {
            background: $crowe-project-background-blue;
        }

        .order-details {
            span {
                display: block;
                text-align: right;

                &:nth-child(2) {
                    color: $crowe-table-header-blue;
                    margin-top: 5px;
                }
            }
        }
    }
}

.table {
    flex-basis: 80% !important;
    background: $crowe-project-white;
    max-height: 610px;
    overflow: auto;
    -webkit-box-shadow: $crowe-box-shadow; 
    box-shadow: $crowe-box-shadow;
    border-radius: 4px;
}

.table-header {
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 55px;
    align-items: center;

    .title {
        font-weight: bold;
        margin: 0;
    }
}

.container {
    flex-basis: 25%;
    margin: 0px 20px 0px 0px;
}

.main-container {
    justify-content: space-between;
    align-items: flex-start;
}

.dollar-sign {
    text-align: left;
}

.mat-table {
    width: 100%;

    .mat-header-row {
        background: $crowe-project-background-blue;
        color: $crowe-table-header-blue;
        height: 48px;
    }

    th.mat-header-cell {
        font-weight: 500;
        border-color: $crowe-table-border-blue;
        font-size: 16px;

        &:last-child {
            text-align: right;
        }
    }

    .mat-row {
        color: $crowe-project-primary;
        height: 46px;

        &:hover {
            background: $crowe-project-background-blue;
        }
    }

    td.mat-cell {
        border-color: $crowe-table-border-blue;

        &:nth-child(3) {

            .first-value {
                span.dollar-sign {
                    text-align: left;
                }                 
            }

            span.dollar-sign {
                text-align: left;
            }        

            span.work-amt-value {
                padding-left: 100px;
            }
        }

        &:last-child {
            text-align: right;

            .in-process, .on-hold, .closed {
                border-radius: 24px;
                padding: 4px 12px 4px 12px;
                font-weight: bold;
                font-size: 12px;
            }
        
            .in-process {
                background: $crowe-sidenav-link-hover-blue;
                color: $crowe-project-primary-blue;
            }
        
            .on-hold {
                background: #FFEEEE;
                color: #780A0A;
            }
        
            .closed {
                background: #F0F4F8;
                color: #D9E2EC;
            }
        }
    }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $crowe-project-white !important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $crowe-project-white;
  }

::ng-deep .mat-checkbox-checkmark {
      fill: $crowe-project-primary !important;
      border: 2px solid $crowe-project-primary;
  }

::ng-deep .mat-checkbox-checkmark-path {
    stroke: $crowe-project-primary !important;
}

::ng-deep .mat-checkbox-frame { 
    border-color: transparent !important;
}